*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.505);
}

#title{
      
    text-align-last: center;
       /* margin-left: 300px; */
       color: white;
       margin-top: 20px;
       
}
#description{
            align-items:center ;
            color: white;
            margin-left: 190px;

}
#survey-form{
            margin-top:80px ;
            font-size: 30px;
            font-weight: 600;
    text-align-last: center;
    color: white;
}
#name{
        font-size: 20px;
       width:600px;
       height: 40px;
       color: white;
       border: 1.2px solid white;   
       

}
#email{
    width:600px;
    height: 40px;
    font-size: 20px;
    color: white;
    border: 1.2px solid white;   

}
#number{
    width:600px;
    height: 40px;
    font-size: 20px;
    color: white;
    border: 1.2px solid white;   
}
#dropdown{
    width:600px;
    margin-top:10px ;
    font-size: 20px;
    color: white;
}
#textarea{
    color: black;
    background-color: white;
    height: 70px;
    width: 247px;
}
#submit{
        background-color:orangered;
        color:blue;
        width: 100px;
}
